body {
  margin: 0;
  text-align: center;
  font-family: font-family: 'Merriweather', serif;
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  list-style: 2;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;//100% ~ 16px ~ 1em, rem is relative em (not depend on parent size)
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 700px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 700px;
  bottom: 300px;
}

.showProjectLine{
  padding-top: 2.5rem;
  background-color: #EAF6F6;
}


.projectCollapse{
  margin-top: 0;
  border-width: thick;
  border-color: red;
}
